<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>8</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>HTTP://EOLO-BASE:8080/WPF/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <PublishUrl>F:\Publico\VMware-Share\EOLO-WPF\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(ninguno)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>False|2025-10-19T20:01:11.1918080Z||;True|2025-10-19T18:54:45.6356516+02:00||;False|2025-10-19T18:54:09.9459171+02:00||;True|2025-10-19T17:32:19.7759038+02:00||;True|2025-10-19T16:26:56.8743464+02:00||;False|2025-10-19T16:24:17.1537703+02:00||;True|2025-10-19T16:20:59.9140173+02:00||;False|2025-10-19T16:17:43.2826718+02:00||;True|2025-10-19T13:35:28.9367053+02:00||;False|2025-10-19T13:34:42.2587835+02:00||;True|2025-10-19T13:27:10.9871262+02:00||;False|2025-10-19T13:26:02.0372940+02:00||;False|2025-10-19T13:25:27.9089853+02:00||;False|2025-10-19T13:25:21.3905297+02:00||;False|2025-10-19T13:24:58.0881464+02:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>Entorno de ejecución de escritorio de .NET 8.0.20 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>